In [1]:
td=[15,18,22,20,25,23,28,30,26,19]
len(td)

10

In [2]:
for i in td:
    print(i)

15
18
22
20
25
23
28
30
26
19

In [3]:
ed=[120,140,130,150,160,140,180,200,175,130]
len(ed)

10

In [4]:
for i in ed:
    print(i)

120
140
130
150
160
140
180
200
175
130

In [5]:
sum(td)

226

In [6]:
sum(ed)

1525

In [7]:
sum(td)/len(td)

22.6

In [8]:
sum(ed)/len(ed)

152.5

In [9]:
ed=[120,140,130,150,160,140,180,200,175,130]

# Calculate sum
total_sum = 0
for number in td:
    total_sum += number

# Calculate minimum
minimum = td[0]
for number in td:
    if number < minimum:
        minimum = number

# Calculate median
td_sorted = sorted(td)
n = len(td_sorted)
if n % 2 == 1:
    median = td_sorted[n // 2]
else:
    median = (td_sorted[n // 2 - 1] + td_sorted[n // 2]) / 2

# Calculate mode
frequency = {}
for number in td:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1

max_count = 0
mode = None
for number, count in frequency.items():
    if count > max_count:
        max_count = count
        mode = number
    elif count == max_count and (mode is None or number < mode):
        mode = number

print("Sum:", total_sum)
print("Minimum:", minimum)
print("Median:", median)
print("Mode:", mode)

Sum: 226
Minimum: 15
Median: 22.5
Mode: 15

In [10]:
td = [15, 18, 22, 20, 25, 23, 28, 30, 26, 19]

# Calculate sum
total_sum = 0
for number in td:
    total_sum += number

# Calculate minimum
minimum = td[0]
for number in td:
    if number < minimum:
        minimum = number

# Calculate median
td_sorted = sorted(td)
n = len(td_sorted)
if n % 2 == 1:
    median = td_sorted[n // 2]
else:
    median = (td_sorted[n // 2 - 1] + td_sorted[n // 2]) / 2

# Calculate mode
frequency = {}
for number in td:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1

max_count = 0
mode = None
for number, count in frequency.items():
    if count > max_count:
        max_count = count
        mode = number
    elif count == max_count and (mode is None or number < mode):
        mode = number

print("Sum:", total_sum)
print("Minimum:", minimum)
print("Median:", median)
print("Mode:", mode)

Sum: 226
Minimum: 15
Median: 22.5
Mode: 15

In [11]:

mode=[]
counter={}
for i in td:
    if (i)in counter:
        counter[i]=counter[i]+1
    else:
        counter[i]=1

In [12]:
if max(counter.values())==1:
    print('no mode')
else:
    for i in counter:
        if counter[i]==max(counter.values()):
            mode.append(i)
    print(mode)

no mode

In [13]:
pip install pandas

Requirement already satisfied: pandas in c:\users\c-dot\anaconda5\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\c-dot\anaconda5\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\c-dot\anaconda5\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\c-dot\anaconda5\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\c-dot\anaconda5\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\c-dot\anaconda5\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd

In [15]:
df= pd.read_excel('Superstore.xlsx')

In [16]:
df

,row id,customer id,order date,shipping date,ship mode,customer id.1,customer name,segment,country,city,...,postal code,region,product id,category,sub category,product name,sales,quantity,discount,profit
0,1,CA2016152156,2023-07-01,2021-07-08,Second Class,CG12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FURBO10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA2016152156,2022-07-03,2023-05-11,Second Class,CG12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FURCH10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs ...,731.9400,3,0.00,219.5820
2,3,CA2016138688,2021-08-16,2021-11-02,Second Class,DV13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFFLA10000240,Office Supplies,Labels,SelfAdhesive Address Labels for Typewriters by...,14.6200,2,0.00,6.8714
3,4,US2015108966,2021-04-14,2022-12-21,Standard Class,SO20335,Sean ODonnell,Consumer,United States,Fort Lauderdale,...,33311,South,FURTA10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,383.0310
4,5,US2015108966,2021-01-02,2021-08-26,Standard Class,SO20335,Sean ODonnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFFST10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,9986,CA2014110422,2022-04-25,2021-11-15,Second Class,TB21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FURFU10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9986,9987,CA2017121258,2022-06-29,2022-04-09,Standard Class,DB13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FURFU10000747,Furniture,Furnishings,Tenex B1RE Series Chair Mats for Low Pile Carpets,91.9600,2,0.00,15.6332
9987,9988,CA2017121258,2023-06-09,2023-02-18,Standard Class,DB13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TECPH10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9988,9989,CA2017121258,2022-04-01,2022-01-22,Standard Class,DB13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFFPA10004041,Office Supplies,Paper,"Its Hot Message Books with Stickers 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9989,9990,CA2017119914,2022-08-29,2022-10-14,Second Class,CC12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFFAP10002684,Office Supplies,Appliances,Acco 7Outlet Masterpiece Power Center Wihtout ...,243.1600,2,0.00,72.9480

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9990 entries, 0 to 9989
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row id         9990 non-null   int64
 1   customer id    9990 non-null   object
 2   order date     9990 non-null   datetime64[ns]
 3   shipping date  9990 non-null   datetime64[ns]
 4   ship mode      9990 non-null   object
 5   customer id.1  9990 non-null   object
 6   customer name  9990 non-null   object
 7   segment        9990 non-null   object
 8   country        9990 non-null   object
 9   city           9990 non-null   object
 10  state          9990 non-null   object
 11  postal code    9990 non-null   int64
 12  region         9990 non-null   object
 13  product id     9990 non-null   object
 14  category       9990 non-null   object
 15  sub category   9990 non-null   object
 16  product name   9990 non-null   object
 17  sales          9990 non-null   float64
 18  quantity       9990 non-null   int64
 19  discount       9990 non-null   float64
 20  profit         9990 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [18]:
df.columns

Index(['row id', 'customer id', 'order date', 'shipping date', 'ship mode',
       'customer id.1', 'customer name', 'segment', 'country', 'city', 'state',
       'postal code', 'region', 'product id', 'category', 'sub category',
       'product name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [19]:
df.head()

,row id,customer id,order date,shipping date,ship mode,customer id.1,customer name,segment,country,city,...,postal code,region,product id,category,sub category,product name,sales,quantity,discount,profit
0,1,CA2016152156,2023-07-01,2021-07-08,Second Class,CG12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FURBO10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA2016152156,2022-07-03,2023-05-11,Second Class,CG12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FURCH10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs ...,731.9400,3,0.00,219.5820
2,3,CA2016138688,2021-08-16,2021-11-02,Second Class,DV13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFFLA10000240,Office Supplies,Labels,SelfAdhesive Address Labels for Typewriters by...,14.6200,2,0.00,6.8714
3,4,US2015108966,2021-04-14,2022-12-21,Standard Class,SO20335,Sean ODonnell,Consumer,United States,Fort Lauderdale,...,33311,South,FURTA10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,383.0310
4,5,US2015108966,2021-01-02,2021-08-26,Standard Class,SO20335,Sean ODonnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFFST10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,2,0.20,2.5164

In [20]:
df.tail()

,row id,customer id,order date,shipping date,ship mode,customer id.1,customer name,segment,country,city,...,postal code,region,product id,category,sub category,product name,sales,quantity,discount,profit
9985,9986,CA2014110422,2022-04-25,2021-11-15,Second Class,TB21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FURFU10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9986,9987,CA2017121258,2022-06-29,2022-04-09,Standard Class,DB13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FURFU10000747,Furniture,Furnishings,Tenex B1RE Series Chair Mats for Low Pile Carpets,91.960,2,0.0,15.6332
9987,9988,CA2017121258,2023-06-09,2023-02-18,Standard Class,DB13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TECPH10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9988,9989,CA2017121258,2022-04-01,2022-01-22,Standard Class,DB13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFFPA10004041,Office Supplies,Paper,"Its Hot Message Books with Stickers 2 3/4"" x 5""",29.600,4,0.0,13.3200
9989,9990,CA2017119914,2022-08-29,2022-10-14,Second Class,CC12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFFAP10002684,Office Supplies,Appliances,Acco 7Outlet Masterpiece Power Center Wihtout ...,243.160,2,0.0,72.9480

In [21]:
df.describe()

,row id,order date,shipping date,postal code,sales,quantity,discount,profit
count,9990.000000,9990,9990,9990.000000,9990.000000,9990.000000,9990.000000,9990.000000
mean,4995.500000,2022-04-18 18:55:08.108108032,2022-04-18 08:56:04.324324352,55180.614314,229.827353,3.789790,0.156225,59.916593
min,1.000000,2021-01-01 00:00:00,2021-01-01 00:00:00,1040.000000,0.444000,1.000000,0.000000,0.000000
25%,2498.250000,2021-08-21 00:00:00,2021-08-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,5.369000
50%,4995.500000,2022-04-18 00:00:00,2022-04-21 00:00:00,56301.000000,54.432000,3.000000,0.200000,13.970000
75%,7492.750000,2022-12-10 00:00:00,2022-12-08 00:00:00,90008.000000,209.937500,5.000000,0.200000,43.152450
max,9990.000000,2023-08-01 00:00:00,2023-08-01 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2884.008929,NaN,NaN,32064.346058,623.327164,2.225467,0.206481,228.321164

In [22]:
df.info().value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9990 entries, 0 to 9989
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row id         9990 non-null   int64
 1   customer id    9990 non-null   object
 2   order date     9990 non-null   datetime64[ns]
 3   shipping date  9990 non-null   datetime64[ns]
 4   ship mode      9990 non-null   object
 5   customer id.1  9990 non-null   object
 6   customer name  9990 non-null   object
 7   segment        9990 non-null   object
 8   country        9990 non-null   object
 9   city           9990 non-null   object
 10  state          9990 non-null   object
 11  postal code    9990 non-null   int64
 12  region         9990 non-null   object
 13  product id     9990 non-null   object
 14  category       9990 non-null   object
 15  sub category   9990 non-null   object
 16  product name   9990 non-null   object
 17  sales          9990 non-null   float64
 18  quantity       9990 non-null   int64
 19  discount       9990 non-null   float64
 20  profit         9990 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

AttributeError: 'NoneType' object has no attribute 'value_counts'

In [23]:
df.info().value_counts().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9990 entries, 0 to 9989
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row id         9990 non-null   int64
 1   customer id    9990 non-null   object
 2   order date     9990 non-null   datetime64[ns]
 3   shipping date  9990 non-null   datetime64[ns]
 4   ship mode      9990 non-null   object
 5   customer id.1  9990 non-null   object
 6   customer name  9990 non-null   object
 7   segment        9990 non-null   object
 8   country        9990 non-null   object
 9   city           9990 non-null   object
 10  state          9990 non-null   object
 11  postal code    9990 non-null   int64
 12  region         9990 non-null   object
 13  product id     9990 non-null   object
 14  category       9990 non-null   object
 15  sub category   9990 non-null   object
 16  product name   9990 non-null   object
 17  sales          9990 non-null   float64
 18  quantity       9990 non-null   int64
 19  discount       9990 non-null   float64
 20  profit         9990 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

AttributeError: 'NoneType' object has no attribute 'value_counts'

In [24]:
df.sort_values(['order date','shipping date'])

,row id,customer id,order date,shipping date,ship mode,customer id.1,customer name,segment,country,city,...,postal code,region,product id,category,sub category,product name,sales,quantity,discount,profit
9671,9672,CA2016137393,2021-01-01,2021-04-19,Standard Class,GM14500,Gene McClure,Consumer,United States,Bakersfield,...,93309,West,FURFU10001617,Furniture,Furnishings,"Executive Impressions 81/2"" Career Panel/Parti...",41.600,4,0.0,14.1440
5558,5559,CA2017133263,2021-01-01,2021-08-08,Second Class,JE15610,Jim Epp,Corporate,United States,Atlanta,...,30318,South,TECCO10001449,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,2999.950,5,0.0,1439.9760
7851,7852,CA2017135587,2021-01-01,2021-08-10,Standard Class,BH11710,Brosina Hoffman,Consumer,United States,Hattiesburg,...,39401,South,TECAC10001266,Technology,Accessories,Memorex Micro Travel Drive 8 GB,52.000,4,0.0,23.4000
2470,2471,CA2016114972,2021-01-01,2021-11-11,First Class,PF19225,Phillip Flathmann,Consumer,United States,Los Angeles,...,90032,West,TECAC10000682,Technology,Accessories,Kensington K72356US MouseinaBox USB Desktop Mouse,82.950,5,0.0,29.0325
3619,3620,CA2014159184,2021-01-01,2022-01-13,Standard Class,JC15775,John Castell,Consumer,United States,Macon,...,31204,South,OFFBI10001890,Office Supplies,Binders,Avery Poly Binder Pockets,7.160,2,0.0,3.4368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8701,8702,US2014132745,2023-08-01,2022-09-07,Standard Class,NF18475,Neil Französisch,Home Office,United States,Reno,...,89502,West,OFFFA10000254,Office Supplies,Fasteners,Sterling Rubber Bands by Alliance,4.710,1,0.0,0.0000
6886,6887,CA2017164756,2023-08-01,2022-11-07,Standard Class,SS20140,Saphhira Shifley,Corporate,United States,Columbus,...,31907,South,OFFPA10000673,Office Supplies,Paper,Postit “Important Message” Note Pad Neon Color...,50.960,7,0.0,24.4608
868,869,CA2014148488,2023-08-01,2023-01-01,Standard Class,SM20005,Sally Matthias,Consumer,United States,New York City,...,10009,East,OFFPA10004470,Office Supplies,Paper,"Adams Write n Stick Phone Message Book 11"" X 5...",11.360,2,0.0,5.2256
873,874,CA2016116736,2023-08-01,2023-06-01,Standard Class,CC12430,Chuck Clark,Home Office,United States,Concord,...,3301,East,TECAC10002049,Technology,Accessories,Logitech G19 Programmable Gaming Keyboard,371.970,3,0.0,66.9546
93,94,CA2017157833,2023-08-01,2023-07-11,First Class,KD16345,Katherine Ducich,Consumer,United States,San Francisco,...,94122,West,OFFBI10001721,Office Supplies,Binders,Trimflex Flexible Post Binders,51.312,3,0.2,17.9592

In [26]:
df['order date'].corr(df['shipping date'])

TypeError: reduction operation 'corr' not allowed for this dtype

# Hypothetical Scenario 1: Boosting Profits

In [27]:
# Top-Selling Categories


df['category'].value_counts().head(5)

category
Office Supplies    6024
Furniture          2121
Technology         1845
Name: count, dtype: int64

In [28]:
df['category'].value_counts().head(5).index.tolist()

['Office Supplies', 'Furniture', 'Technology']

In [29]:
top_catagory= df['category'].value_counts().head(5).index.tolist()

In [30]:
# Sales vs. Discount

In [31]:
df['sales'].corr(df['profit'])

0.7874705783917682

In [32]:
discount_profit_corr = df['sales'].corr(df['profit'])

In [33]:
# Customer Segments

In [34]:
df['segment'].value_counts()

segment
Consumer       5187
Corporate      3020
Home Office    1783
Name: count, dtype: int64

In [35]:
df['segment'].value_counts().head(5).index.tolist()

['Consumer', 'Corporate', 'Home Office']

In [36]:
top_segments= df['segment'].value_counts().head(5).index.tolist()

In [37]:
# Calculate probabilities

In [38]:
# Define a function for calculating probability
def calculate_probability(event_count, total_count):
    return event_count / total_count

In [39]:
probability_profitable_segment = calculate_probability(len(df[df['segment'].isin(top_segments)]), len(df))
probability_high_profit_category = calculate_probability(len(df[df['category'].isin(top_catagory)]), len(df))

# Hypothetical Scenario 2: Reducing Shipping Costs

In [40]:
# Shipping Modes
shipping_modes = df['ship mode'].value_counts().index.tolist()

# Calculate probability for each shipping mode
probabilities = [calculate_probability(len(df[df['ship mode'] == mode]), len(df)) for mode in shipping_modes]

print("Scenario 2: Reducing Shipping Costs")
print("1. Evaluate cost-effectiveness of shipping modes:", shipping_modes)
print("   - Optimize usage of economical shipping methods.")

for i, mode in enumerate(shipping_modes):
    print(f"   - Probability of choosing {mode}: {probabilities[i]:.2%}")
print()

Scenario 2: Reducing Shipping Costs
1. Evaluate cost-effectiveness of shipping modes: ['Standard Class', 'Second Class', 'First Class', 'Same Day']
   - Optimize usage of economical shipping methods.
   - Probability of choosing Standard Class: 59.73%
   - Probability of choosing Second Class: 19.44%
   - Probability of choosing First Class: 15.40%
   - Probability of choosing Same Day: 5.44%

In [ ]:
# Shipping Modes

In [ ]:
df['ship mode'].value_counts().head(10).index.tolist()

In [ ]:
shipping_modes= df['ship mode'].value_counts().head(10).index.tolist()

In [ ]:
probabilities = [calculate_probability(len(df[df['ship mode'] == mode]), len(df)) for mode in shipping_modes]

In [ ]:
print("Scenario 2: Reducing Shipping Costs")
print("1. Evaluate cost-effectiveness of shipping modes:", shipping_modes)
print("   - Optimize usage of economical shipping methods.")

In [ ]:
for i, mode in enumerate(shipping_modes):
    print(f"   - Probability of choosing {mode}: {probabilities[i]:.2%}")
print()

In [ ]:
import pandas as pd

# Load your CSV file into a pandas DataFrame
df = pd.read_csv('your_file.csv')

# Calculate mean
mean = df.mean()

# Calculate median
median = df.median()

# Calculate mode
mode = df.mode().iloc[0]  # Mode may return multiple values, so we just take the first one

# Calculate covariance
covariance_matrix = df.cov()

# Get the covariance between two specific columns, for example, 'column1' and 'column2'
covariance = df['column1'].cov(df['column2'])

# Calculate standard deviation
std_deviation = df.std()

# Print or use the results as needed
print("Mean:\n", mean)
print("\nMedian:\n", median)
print("\nMode:\n", mode)
print("\nCovariance Matrix:\n", covariance_matrix)
print("\nCovariance between 'column1' and 'column2':\n", covariance)
print("\nStandard Deviation:\n", std_deviation)

In [ ]:
import math
import numpy as np


class stats:
    def __init__(self, data):
        self.data = data

    def sum_module(self):
        sum1 = sum(self.data)
        return sum1

    def len_module(self):
        len1 = len(self.data)
        return len1

    def mean_module(self):
        mean1 = np.mean(self.data)
        return mean1

    def median_module(self):
        median1 = np.median(self.data)
        return median1

    def mode_module(self):
        uniq_values = []
        mode_values = []
        frequency_count = {}

        for i in self.data:
            if i in frequency_count:
                frequency_count[i] += 1
                if i not in mode_values:
                    mode_values.append(i)
            else:
                frequency_count[i] = 1
                uniq_values.append(i)

        mode_count = {key: value for key, value in frequency_count.items() if value > 1}

        if not mode_count:
            return "No mode"
        else:
            return mode_count

    def variance_module(self):
        variance1 = np.var(self.data)
        return variance1

    def standard_deviation_module(self):
        variance1 = np.std(self.data)
        return variance1

    @staticmethod
    def covariance_module(list1, list2):
        if len(list1) != len(list2):
            raise ValueError("Lists must have the same length")

        mean1 = np.mean(list1)
        mean2 = np.mean(list2)

        cov = sum((x - mean1) * (y - mean2) for x, y in zip(list1, list2)) / len(list1)
        return cov

    @staticmethod
    def correlation_coefficient_module(data1, data2):
        correlation_matrix = np.corrcoef(data1, data2)[0, 1]
        return correlation_matrix

    def confidence_interval_z_module(self):
        mean = self.mean_module()
        std_dev = self.standard_deviation_module()
        n = len(self.data)

        z = 1.645
        margin_of_error = z * (std_dev / (math.sqrt(n)))
        lower_bound = mean - margin_of_error
        upper_bound = mean + margin_of_error

        z = 1.96
        margin_of_error2 = z * (std_dev / (math.sqrt(n)))

        lower_bound2 = mean - margin_of_error2
        upper_bound2 = mean + margin_of_error2

        z = 2.17
        margin_of_error3 = z * (std_dev / (math.sqrt(n)))

        lower_bound3 = mean - margin_of_error3
        upper_bound3 = mean + margin_of_error3

        return (f"\n 90% of Z-score is: {lower_bound}, {upper_bound}, "
                f"\n 95% of Z-score is: {lower_bound2}, {upper_bound2}, "
                f"\n 97% of Z-score is: {lower_bound3}, {upper_bound3}")

    def quartiles_module(self):
        q1 = np.percentile(self.data, 25)
        q2 = np.percentile(self.data, 50)
        q3 = np.percentile(self.data, 75)

        iqr = q3 - q1

        lower_quartile = q1 - 1.5 * iqr
        upper_quartile = q3 + 1.5 * iqr

        return q1, q2, q3, iqr, lower_quartile, upper_quartile

In [ ]:
df1=df["sales"]
df1

In [ ]:
data=stats(df1)

In [ ]:
data.mean_module()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from scipy import stats

In [ ]:
class stat:
    def __init__(self,list1,list2=None):
        self.list1=list1
        self.list2=list2
    
   
    def total(self):
        import numpy as np
        summ=np.sum(self.list1)
        print(f"the sum of this list is :{summ}")
 
    def count(self):
        len1=len(self.list1)
        print(f"the len of this list is :{len1}")
        return len1
       
    def mean(self):
        import numpy as np
        mean1=np.mean(self.list1)
        print(f"the mean of this list is :{mean1}")
        return mean1
       
    def median(self):
        import numpy as np
        median1=np.median(self.list1)
        print(f"the median of this list is :{median1}")  
       
    def mode_cal(self):
        mode=[]
        counter={}
        for i in self.list1:
            if (i)in counter:
                counter[i]=counter[i]+1
            else:
                counter[i]=1    
        
        if max(counter.values())==1:
            return ('No Mode')
        else:
            for i in counter:
                if counter[i]==max(counter.values()):
                    mode.append(i)
            return mode
    def variance(self):
        import numpy as np
        variance1=np.var(self.list1)
        print(f"the variance of this list is :{variance1}")
       
    def std_dev(self):
        import numpy as np
        standard=np.std(self.list1)
        standard1=round(standard,2)
        print(f"the standard deviation of this list is :{standard1}")        
           
    def covariance(self):
        import numpy as np
        covariance1=np.cov(self.list1,self.list2)
        print(f"the covariance of this list is :{covariance1[0][1]}")      
       
    def corelation(self):
        import numpy as np
        corelation1=np.corrcoef(self.list1,self.list2)
        print(f"the corelation of this list is :{corelation1[0][1]}")  
       
    def  coefficeint_of_variance(self):
        from scipy.stats import variation

        cv = variation(self.list1)
        print("Coefficient of variation:", cv)        
       
       
    def quartiles(self):  
        import numpy as np
       
        q1 = np.percentile(self.list1, 25)
        q2 = np.percentile(self.list1, 50)
        q3 = np.percentile(self.list1, 75)

        iqr = q3 - q1

        print("First Quartile (Q1):", q1)
        print("Median (Q2):", q2)
        print("Third Quartile (Q3):", q3)
        print("Interquartile Range (IQR):", iqr)
       
   
       
    def confidence_interval_95(self, confidence=0.95):
        len_value=self.count()
        mean_value = self.mean()  # Call the mean method
        stderr = stats.sem(self.list1)
        ci = stats.t.interval(confidence, len_value-1, loc=mean_value, scale=stderr)
        print(f"confidence interval of 95% is: {ci}")
        return ci
   
    def confidence_interval2(self,confidence):
        len_value=self.count()
        mean_value = self.mean()  # Call the mean method
        stderr = stats.sem(self.list1)
        ci = stats.t.interval(confidence, len_value-1, loc=mean_value, scale=stderr)
        rounded_ci = [round(value, 2) for value in ci]  # Round the values to two decimal places
        print(f"{int(confidence * 100)}% confidence interval is: {rounded_ci}")
        return rounded_ci
    def all_stats(self):
        self.total()
        self.count()
        self.mean()
        self.median()
        self.mode_cal()
        self.variance()
        self.std_dev()
        if self.list2!=None:
            self.covariance()
            self.corelation()
        else:
            pass
        self.coefficeint_of_variance()
        self.quartiles()
        self.confidence_interval_95()

# Daily Customer Transactions data
#transactions_data = [15, 18, 22, 20, 25, 23, 28, 30, 26, 19]

# Daily Advertising Expenses data (in dollars)
#expenses_data = [120, 140, 130, 150, 160, 140, 180, 200, 175, 130]
#import pandas as pd
#df=pd.read_excel('Superstore - Copy.xlsx')

def analyse_column(col_name):
    col_ana=stat(df[col_name])
    col_ana.all_stats()

In [41]:
analyse_column('quantity')

NameError: name 'analyse_column' is not defined

In [42]:
df.columns

Index(['row id', 'customer id', 'order date', 'shipping date', 'ship mode',
       'customer id.1', 'customer name', 'segment', 'country', 'city', 'state',
       'postal code', 'region', 'product id', 'category', 'sub category',
       'product name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [43]:
discount_analysis= stat(df['discount'])
sales_analysis= stat(df['sales'])
quantity_analysis= stat(df['quantity'])
profit_analysis= stat(df['profit'])

NameError: name 'stat' is not defined

In [44]:
corr1= stat(df['discount'],df['sales'])

NameError: name 'stat' is not defined

In [ ]:
discount_analysis.all_stats()

In [ ]:
corr2